body {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  margin: 0;
}
.masthead {
	width: 100%;	
}
.logoArea {
	width: 80%;
	margin: 2em auto;
}
.logo {
	width: 100%;
}
.searchArea {
	width: 100%;
}
.form {
	text-align: center;
	width: 80%;
	margin: 2em auto;
}
.search {
	font-size: 1.25em;
}
.submit {
	font-size: 1.25em;
	width: 5em;
}
.searchMsg,
.successMsg {
	text-align: center;
	font-size: 1.5em;
}
.errorMsg {
	text-align: center;
	font-size: 2em;
	color: #FF0000;
}
.main {
	width: 100%;
}

@media screen and (min-width: 400px) {
	.logoArea {
		width: 60%;
	}
}
@media screen and (min-width: 600px) {
	.logoArea {
		width: 50%;
	}
}
@media screen and (min-width: 900px) {
	.logoArea {
		width: 40%;
	}
}
@media screen and (min-width: 1200px) {
	.logoArea {
		width: 30%;
	}
}
@media screen and (min-width: 1600px) {
	.logoArea {
		width: 25%;
	}
}